@font-face { font-family: Raleway; src: source/font/Raleway;} 

body{
    font-family: Raleway;
    font-size:medium;
}
.brandBlue{
    background-color: #001d42;
}

.bg-blue{
    background-color: #185098;
}

.brandYellow{
    color: #eaaa00 !important;
}

.logo{
    height: 3rem;
}