@font-face { font-family: Raleway; src: source/font/Raleway;} 

body{
    font-family: Raleway;
    font-size:medium;
}

.brandBlue-bg{
    background-color: #001d42;
}

.bg-blue{
    background-color: #185098;
}

.brandYellow-bg{
    background-color: #eaaa00;
}

.logo{
    height: 3rem;
}

.teamBg{
    position: absolute;
    max-height: 35rem;
}

.team{
    position: absolute;
}

#team a{
    align-self: center;
    justify-self: center;
}

#team .c{
    grid-area: cc;
    width: 6em;
    transition: all 0.5s ease;
}

#team .person{width:3em;
    transition: all 0.5s ease;}

#team .p0{grid-area: p0;}
#team .p1{grid-area: p1;}
#team .p2{grid-area: p2;}
#team .p3{grid-area: p3;}
#team .p4{grid-area: p4;}
#team .p5{grid-area: p5;}
#team .p6{grid-area: p6;}
#team .p7{grid-area: p7;}
#team .p8{grid-area: p8;}
#team .p9{grid-area: p9;}
#team .pa{grid-area: pa;}
#team .pb{grid-area: pb;}
#team .pc{grid-area: pc;}
#team .pd{grid-area: pd;}
#team .pe{grid-area: pe;}
#team .pf{grid-area: pf;}

.c:hover, .person:hover{
    transform: scale(1.2);
}

#team{
    height: 35rem;
    width: 35rem;

    background-image: url("../img/customcolor_icon_transparent_background.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    position: relative;

    align-self: center;
    justify-self: center;

    display: grid;
    grid:
        'p0 p0 .. .. .. .. .. p4 p4'
        'p0 p0 p1 p1 .. p3 p3 p4 p4'
        '.. p5 .. .. p2 .. .. pf ..'
        '.. p5 .. .. .. .. .. pf ..'
        '.. .. p6 .. cc .. pe .. ..'
        '.. p7 .. .. .. .. .. pd ..'
        '.. p7 .. .. pa .. .. pd ..'
        'p8 p8 p9 p9 .. pb pb pc pc'
        'p8 p8 .. .. .. .. .. pc pc';
}
