@font-face { font-family: Raleway; src: source/font/Raleway;} 

body{
    font-family: Raleway;
    font-size:medium;
}

.brandBlue-bg{
    background-color: #001d42;
}

.bg-blue{
    background-color: #185098;
}

.brandYellow-bg{
    background-color: #eaaa00;
}

.logo{
    height: 3rem;
}

.teamBg{
    align-self: center;
    justify-self: center;
    max-height: 35rem;
}

.team{
    position: absolute;
}

#team .c{
    align-self: center;
    justify-self: center;
    width: 6em;
    transition: all 0.5s ease;
}

.c:hover{
    transform: scale(1.1);
}

#team{
    position: relative;
    display: grid;
    height: 35rem;
}
